.box {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: 1s;
}
/* .box:hover {
  width: 300px;
  background-color: green;
} */
/* .box:active {
  width: 300px;
  background-color: green;
} */
.box:focus {
  width: 300px;
  background-color: green;
} 
input {

}
input:focus {
  background-color: blue;
}